* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 80%;
    margin: auto;
}

.grey {
    color: grey;
}



/***FLOAT***/
.left {
    float: left;
}

.right {
    float: right;
}

.clearfix::after{
    content: "";
    clear: both;
    display: table;
}


/***HEADER***/
header {
height: 100px;
margin-top: 20px;
background-color: rgb(252, 104, 244);
}

.logo {
    height: 50px;
    border-right: 1px solid grey;
    padding-right: 10px;
}

nav {
    height: 40px;
    line-height: 40px;
    padding-top: 15px;
}

nav li {
    display: inline-block;
    list-style: none;
    text-transform: uppercase;
    color: grey;
    padding-right: 7px;
   
}


/***JUMBOTRON***/
.jumbotron {
    height: 400px;
    margin-top: 30px;
    margin-bottom: 30px;
    background-image: url(../img/sfondo.JPG);
    
    background-size: cover;
    background
    /**background-color: rgb(243, 222, 106);**/
}

.testo {
    padding-top: 230px;
    padding-left: 40px;
    color: red;
    
}

.txt1 {
    font-size: 30px;
    width: 45%;
}

.txt2 {
    width: 50%;
}




/***MAIN***/

.maincontain {
    background-color: rgb(34, 120, 250);
}

/***Sezione Principale***/
.sezione {
    padding-top: 20px;

    
}

/***3SEZIONI***/
.sezio {
    margin-top: 30px;
    margin-bottom: 30px;
}

/***Prima e Terza Sezione***/
.se1{
    width: 20%;
}

.img13 {
    width: 70%;
    object-fit: cover;
    padding-left: 40px;
    
    
}

h3 {
    padding-top: 20px;
}

/***Seconda Sezione***/
.se2 {

    margin-left: 3%;
    margin-right: 3%;
    width: 54%;
}



/***FOOTER***/
footer {
    height: 70px;
    background-color: rgb(177, 18, 240);
    margin-top: 15px;
}





/***DEBUG***/

/***Altezza Main***/
.debug-cont {
    height: 600px;
}

/***Altezza e Colore Sezione Principale***/
.debug-sp {
    height: 100px;
    background-color: lightblue;
}

/***Altezza e Colore Prima - Seconda - Terza Sezione***/
.debug-sez {
    height: 450px;
    background-color: lightblue;
}



